<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Multiplication form</title>
</head>
<body class="text-center">
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column">

    <div th:replace="template :: navigator"></div>

    <main role="main" class="inner cover">
        <div class="row">
            <div class="col-6">
                <form th:action="@{/play/multiply}" th:method="post">
                    <div class="row">
                        <div class="col-6">
                            <h2>Formularz:</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <label for="size_x">Size X:</label>
                        </div>
                        <div class="col-4">
                            <input id="size_x" name="x"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <label for="size_x">Size Y:</label>
                        </div>
                        <div class="col-4">
                            <input id="size_y" name="y"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-4">
                            <input type="submit" name="Submit">
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-6">
                <div th:if="${size_x}">
                    <!--todo: zrobić pętlę kwadratową-->
                    <!--todo: stworzyć tabelę i wypisać wynik foreach'ów w tabeli-->
                    <table>
                        <div th:each="x : ${#numbers.sequence(1, size_x)}">
                            <tr>
                                <div th:each="y : ${#numbers.sequence(1, size_x)}">
                                    <td th:text="${x*y}"></td>
                                </div>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<footer th:replace=" template :: footer"></footer>
</body>
</html>