<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Add Form</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template::navigator"></div>

    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">
        <form th:action="@{/view/computer/add}" method="post" th:object="${added_computer}">
            <div class="row">
                <div class="row col-md-8">
                    <div class="col-md-6">Name</div>
                    <div class="col-md-6"><input class="form-control"
                                                 type="text" th:value="*{name}" th:field="*{name}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Price</div>
                    <div class="col-md-6"><input class="form-control" step="0.01" type="number"
                                                 th:value="*{price}" th:field="*{price}"></div>
                </div>
                <div class="row col-md-6">
                    <input type="submit" class="form-control" value="submit">
                </div>
                <input th:if="*{modifiedComputerId}" th:field="*{modifiedComputerId}"
                       th:value="*{modifiedComputerId}" hidden>
                <div class="row col-md-8">
                    <div class="col-md-6"><input class="form-control" type="number"
                                                 th:value="*{userId}" th:field="*{userId}" hidden></div>
                </div>
            </div>
        </form>
    </div>

</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>