<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <h2>Users List</h2>
    <div th:replace="template::navigator"></div>
    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>
    <div class="container">
       <div class="row" th:each="user : ${user_list}">
           <div class="col-md-3"><p th:text="${user.username}"></p></div>
           <div class="col-md-3"><p th:text="${user.email}"></p></div>
           <div class="col-md-2"><a th:href="@{'/view/user/profile/' + ${user.id} + '/'}">Profile</a></div>
           <div class="col-md-2"><a sec:authorize="hasRole('ADMIN')" th:href="@{'/view/user/delete/' + ${user.id}}">Delete</a></div>
           <div class="col-md-2"><a sec:authorize="hasRole('ADMIN')" th:href="@{'/view/user/modify/' + ${user.id}}">Modify</a></div>
       </div>
    </div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>