<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template::navigator"></div>

    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">
        <form th:action="@{/login}" method="post">
                <div class="row">
                    <div class="col-md-6"><label for="username">Username</label></div>
                    <div class="col-md-6"><input class="form-control" name="username" id="username" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><label for="password">Password</label></div>
                    <div class="col-md-6"><input class="form-control"
                                                 name="password" id="password" type="password"></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" type="submit" value="Login"></div>
                </div>
        </form>
    </div>

</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>