<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <h2>User Profile</h2>
    <div th:replace="template::navigator"></div>
    <div th:if="${error_message}">
    <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">Name:</div>
                    <div class="col-md-6"><p th:text="${user.name}"></p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">Surname:</div>
                    <div class="col-md-6"><p th:text="${user.surname}"></p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">Email:</div>
                    <div class="col-md-6"><p th:text="${user.email}"></p></div>
                </div>
            </div>
        </div>
        <div class="top-right-align" th:if="${user.id == logged.id}">
            <a th:href="@{/view/request/add}">Add new request</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row colored" th:each="i : ${request_list}">
                    <div class="col-md-2"><p th:text="${i.link}"></p></div>
                    <div class="col-md-2"><p th:text="${i.price}"></p></div>
                    <div class="col-md-2"><p th:text="${i.quantity}"></p></div>
                    <div class="top-right-align" th:if="${user.id == logged.id || logged.isAdmin()}">
                    <div class="col-md-2"><a th:href="@{'/view/request/delete/' + ${user.id} + '/' + ${i.id}}">Delete</a></div>
                    </div>
                    <div class="top-right-align" th:if="${user.id == logged.id}">
                    <div class="col-md-2"><a th:href="@{'/view/request/modify/' + ${i.id}}">Modify</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <footer th:replace=" template :: footer"></footer>
</body>
</html>