<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Add Form</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template::navigator"></div>

    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">
        <form th:action="@{/view/task/add}" method="post" th:object="${added_task}">
            <div class="row" th:if="${user_computers}">
                <div class="col-md-6">Computer</div>
            <select th:field="*{computerId}">
                <option th:each="i : ${computer_list}" th:value="${i.id}" th:text="${i.name}">
                </option>
            </select>
            </div>
            <input th:if="${user_computers == null}" th:field="*{computerId}" th:value="*{computerId}" hidden>
            <div class="row">
                <div class="row col-md-8">
                    <div class="col-md-6">Description</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{description}"></div>
                </div>
                <div class="row col-md-6">
                    <input type="submit" class="form-control" value="submit">
                </div>
            </div>
        </form>
    </div>

</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>