<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div class="top-right-align">
        <a th:href="@{/view/task/add}">Add new task</a>
    </div>
    <h2>Task List</h2>
    <div th:replace="template::navigator"></div>
    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>
    <div class="container">
       <div class="row" th:each="task : ${serviceTasks}">
           <div class="col-md-3"><p th:text="${task.addDate}"></p></div>
           <div class="col-md-3"><p th:text="${task.description}"></p></div>
           <div class="col-md-2"><a th:href="@{'/view/task/delete/' + ${task.id}}">Delete</a></div>
           <div class="col-md-2"><a th:href="@{'/view/task/modify/' + ${task.id}}">Modify</a></div>
       </div>
    </div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>