<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Modify</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template::navigator"></div>

    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">
        <form th:action="@{/view/task/modify}" method="post" th:object="${modify_task}">
            <div class="row">
                <div class="row col-md-8">
                    <div class="col-md-6">Description</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{description}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Description</div>
                    <div class="col-md-6"><input class="form-control" type="checkbox" th:field="*{done}"></div>
                </div>
                <div class="row col-md-6">
                    <input type="submit" class="form-control" value="submit">
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Description</div>
                    <div class="col-md-6"><input class="form-control" type="number" th:field="*{id}"></div>
                </div>
            </div>
        </form>
    </div>

</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>