body {
	margin: 0px;
	font-family: 'MedievalSharp','Arial';
	background: #000;
	text-align: center;
	line-height: 20px
}

a{
	color: #FF0000;
	text-decoration: none;
	transition: 0.3s color ease-in;
}

a:hover{
	color: orange;
}

img{
	max-width: 100%
}

#mainMenu > ul{
	float: right
}


#mainMenu ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
	
		#mainMenu > ul > li{
			float: left;
			margin-right: 20px;
			padding-right: 20px;
			border-right: 2px solid blue;
		}
		
		#mainMenu > ul > li ul{
			display: none
		}
		
		#mainMenu > ul > li:hover ul{
			display: block;
		}
		
		#mainMenu > ul > li > a{
			font-weight: 700;
			font-size: 16px;
			text-transform: uppercase;
		}
			
		
		#mainMenu ul li:last-child{
			margin-right: 0px;
			padding-right: 0px;
			border-right: none;
		}

p{
	color: white;
	float: left;
	border-bottom: 2px solid blue;
}

h3{
	color:white;
}

.container{
	display: inline-block;
	width: 1000px;
	margin: 0px auto 30px;
	padding: 20px;
	text-align: left;
	border: 2px solid blue;
}

#siteContent div{
	display: inline-block;
}

#siteContent{}

	#siteContent div img{
		float: right
	}
	
	#siteContent div:first-child{
		width: 50%
	}
	
	#siteContent div:first-child p:last-child{
		border: none;
	}
	
	#siteContent div:last-child{
		float: right;
	}
		
	#siteContent div:last-child ul li ul li{
		color: green;
		font-weight: 700;
		font-size: 34px;
		text-transform: uppercase;
		padding: 20px
		
	}
#siteHeader{}

	#siteHeader #siteLogo{
		float: left;
		height: 150px
	}

		#siteLogo a {
			display: block;
			opacity: 1;
			transition: 0.3s linear opacity;
		}
		
			#siteLogo a {
				max-height: 100px
			}
			
		#siteLogo a:hover{
			opacity: 0.7;
		}

	#siteHeader  #mainMenu{
		float: right;
	}

	



